
# links
gist.yml
gitea.ini
my.cnf
mysql_ssl

.env.secrets
!.env
!.env.dist
!mounts/config/conf.d
mounts/logs/**
mounts/config/sessions
!mounts/config/mysql/ssl/rootCA.crt
!mounts/config/mysql/ssl/rootCA_intermediate.crt
mounts/config/mysql/ssl/mysql.pem
mounts/config/mysql/ssl/mysql.crt
mounts/config/mysql/ssl/mysql.key

tmp/**
