# my.cnf for gitea service

[mysqld]

### Access

bind-address = 0.0.0.0

### TLS

ssl-ca = /etc/mysql/ssl/rootCA.crt
ssl-cert = /etc/mysql/ssl/mysql.crt
ssl-key = /etc/mysql/ssl/mysql.key
tls-version = TLSv1.2,TLSv1.3

